@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: local("PT Sans"),
       url("/fonts/ptsans.woff") format("woff"),
       url("/fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: local("PT Sans"),
       url("/fonts/ptsansbold.woff") format("woff"),
       url("/fonts/ptsansbold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*-----COMMON-----*/
body {
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 1280px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 26px;
}

a {
  text-decoration: none;
}

.reset-list {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 auto;

  background-color: #ffffff;
}

/*-----HEADER-----*/

.main-header {
  margin-bottom: 76px;
}

.main-header-logo {
  display: none;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.site-navigation {
  display: flex;

  list-style: none;
}

.site-navigation-item {/*Здесь всё-таки я понимаю только что можно разделить на левую и правую части и сделать padding-left/right*/
  width: 300px;

  list-style: none;
}

.site-navigation a {
  color: #000000;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:focus {
  color: #81b3d2;
}

 a.site-navigation-current {
  color: #766357;
}

/*-----MAIN INDEX-----*/

/*---INTRO---*/
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-welcome {
  margin-bottom: 140px;
}

.about {
  width: 489px;

  list-style: none;
}

.intro-title {
  color: #000000;

  font-size: 21px;
  font-weight: bold;/*Не дошло, почему bold не применился*/
  line-height: 26px;
}

.intro-text {
  color: #000000;

  font-size: 14px;
  line-height: 26px;
}

/*---REASONS---*/
.reasons {
  display: flex;
  flex-direction: column;
}

.reason-row {
  display: flex;
}

.background-blue {
  background-color: #81b3d2;
}

.reason-item-text {
  width: 400px;

  list-style: none;
}

.reason-item-text h3 {
  color: #ffffff;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reason-item-text p {
  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
}

.reasons-list {
  display: flex;
}

.reason-item {
  width: 400px;

  list-style: none;
}

.reasons-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reasons-item p {
  font-size: 14px;
  line-height: 21px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: 400px;

  list-style: none;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
}

/*---SEARCH---*/

.search-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
}

.brown-button-search {
  list-style: none;

  color: #ffffff;
  background-color: #766357;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.brown-button-search:hover {
  color: #ffffff;
  background-color: #604e43;
}

.brown-button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*---SEARCH FORM---*/
.search-option {
  text-align: left;

  font-size: 14px;
}

 input.search-option {
  background-color: #f2f2f2;
}

.blue-button-search {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #81b3d2;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.blue-button-search:hover {
  background-color: #669ec0;
}

.blue-button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*-----MAIN CATALOG-----*/

/*---FILTER FORM---*/
.filters {
  padding-top: 31px;
  padding-right: 74px;
  padding-bottom: 31px;
  padding-left: 72px;

  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter-options {
  display: flex;
  justify-content: space-between;
}

.filters fieldset {
  border: none;
}

.filters legend {
  margin-bottom: 28px;

  text-align: left;

  color: #ffffff;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filters ul {
  text-align: left;

  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
}

.filter-item {
  margin-bottom: 23px;
}


.filter-range {
  width: 330px;

  text-transform: uppercase;

  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;

  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  font-size: 0;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  transform: translate(-50%, -50%);

  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  cursor: pointer;
  vertical-align: top;

  font-size: 14px;
  line-height: 38px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  border: none;
  background: none;

  font: inherit;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;

  margin: 0 auto;
  padding: 6px 35px;

  cursor: pointer;
  text-transform: uppercase;

  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: transparent;

  font-size: 14px;
  line-height: 20px;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.sort-result {
  display: flex;

  padding-top: 31px;
  padding-right: 73px;
  padding-bottom: 33px;
  padding-left: 72px;
}
.sort-options {
  display: flex;
}

.filter-result {
  margin-right: 49px;

  text-align: left;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-title {
  margin-right: 40px;

  text-align: left;

  font-size: 12px;
  line-height: 18px;
}

.sort-by-category {
  display: flex;

  margin: 0;
  padding: 0;
}

.category {
  margin-right: 33px;
}

.sort-by-category a {
  text-align: left;

  color: rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
}

.sort-by-category a[href]:hover { /*здесь текст ещё подчёркнут пунктиром*/
  color: #81b3d2;
}

.sort-by-category a[href]:active {
  color: #000000;
}

 a.sort-by-category-current {
  color: #81b3d2;
}

.sort-by-priority {
  margin-left: auto;
}

/*---RESULTS---*/
.result-list {
 display: flex;
 flex-wrap: wrap;
}

.result-item {
  display: flex;

  padding-top: 30px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 72px;
}

.hotel-name {
  color: #000000;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px
  text-align: left;
}

.hotel-choice {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 16px;

  color: #333333;

  font-size: 14px;
  line-height: 21px
  text-align: left;
}

a.blue-button-details {
  margin: 0;
  margin-right: 6px;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-left: 17px;

  color: #ffffff;
  background-color: #81b3d2;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

a.blue-button-details:hover {
  color: #ffffff;
  background-color: #669ec0;
}

a.blue-button-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.brown-button-booking {
  margin: 0;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;

  color: #ffffff;
  background-color: #766357;

  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

a.brown-button-booking:hover {
  color: #ffffff;
  background-color: #604e43;
}

a.brown-button-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating {
  display: flex;
  align-items: flex-end;

  margin: 0;
  margin-left: 13px;

  color: #666666;
  background-color: #f2f2f2;

  font-size: 14px;
  line-height: 21px;
}

/*-----FOOTER-----*/
.main-footer {
  display: flex;
}
.hashtag {
  width: 400px;

  list-style: none;
}

p.hashtag {
  color: #000000;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.footer-social {
  width: 400px;

  list-style: none;
}

.footer-copyright {
  width: 400px;

  list-style: none;
}
