@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: local("PT Sans"),
       url("/fonts/ptsans.woff") format("woff"),
       url("/fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: local("PT Sans"),
       url("/fonts/ptsansbold.woff") format("woff"),
       url("/fonts/ptsansbold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*-----COMMON-----*/
body {
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
  background-size: 1280px;
  background-repeat: no-repeat;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 26px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

a.brown-button { /*Как сделать, чтобы на главной странице остались эти настройки по кнопкам, а в каталоге поменять у них их размер и размер шрифта? Просто добавить ещё класс?*/
  color: #ffffff;
  background-color: #766357;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

a.brown-button:hover {
  color: #ffffff;
  background-color: #604e43;
}

a.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

a.blue-button {
  color: #ffffff;
  background-color: #81b3d2;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

a.blue-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

a.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}

/*-----HEADER-----*/

.main-header-logo {
  margin-left: : 51px;
  margin-right: : 53px;
}

.main-navigation {
  align-items: center;
  width: 1200px;
  margin: auto;
  margin-top: 0;
  padding: auto;
  padding-top: 0;

  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  width: 239px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-left-side {
  margin-left: 73px;
  padding-right: : 40px;
}

.item-right-side {
  margin-left: 73px;
  padding-left: 40px;
}

.site-navigation a {
  color: #000000;

  font-weight: bold;
}

.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:focus {
  color: #81b3d2;
}

 a.site-navigation-current {
  color: #766357;
}

/*-----MAIN INDEX-----*/

/*---INTRO---*/
.intro {
  background-image: url("../img/background-photo.jpg");
  width: 1200px;
  height: 773px;
  object-fit: contain;
}

.about {
  background-color: #ffffff;
}

.about h3 {
  max-width: 440px;
  color: #000000;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.about p {
  max-width: 449px;
  color: #000000;

  font-size: 14px;
  line-height: 26px;
}

/*---REASONS---*/
.reasons {
  display: flex;
}

.reason-item-text {
  width: 280px;
  background-color: #81b3d2;
}

.reason-item-text h3 {
  color: #ffffff;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reason-item-text p {
  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
}

.reasons-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reasons-list p {
  font-size: 14px;
  line-height: 21px;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
}

/*---SEARCH---*/
.search {
  background-color: #ffffff;
}

.search-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
}

/*---SEARCH FORM---*/
.search-option {
  text-align: left;

  font-size: 14px;
}

 input.search-option {
  background-color: #f2f2f2;
}

.search-button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #81b3d2;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*-----MAIN CATALOG-----*/

/*---FILTER FORM---*/
.filters {
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
}

.filters fieldset {
  border: none;
}

.filters legend {
  text-align: left;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filters ul {
  list-style: none;

  text-align: left;

  font-size: 14px;
  line-height: 21px;
}

.sort-result {
  background-color: #ffffff;
}

.filter-result {
  text-align: left;

  font-weight: bold;
}

.sort-title {
  text-align: left;

  font-size: 12px;
  line-height: 18px;
}

.sort-by-category a {
  text-align: left;

  color: rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
}

.sort-by-category a[href]:hover { /*здесь текст ещё подчёркнут пунктиром*/
  color: #81b3d2;
}

.sort-by-category a[href]:active {
  color: #000000;
}

 a.sort-by-category-current {
  color: #81b3d2;
}

/*---RESULTS---*/

.result-list {
  list-style: none;
}

.hotel-name {
  color: #000000;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px
  text-align: left;
}

.hotel-category {
  color: #333333;

  font-size: 14px;
  line-height: 21px
  text-align: left;
}

.hotel-price {
  color: #333333;

  font-size: 14px;
  line-height: 21px
  text-align: left;
}

a.blue-button {
  color: #ffffff;
  background-color: #81b3d2;

  font-size: 14px;
  line-height: 21px;
}

a.blue-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

a.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;

  font-size: 14px;
  line-height: 21px;
}

/*-----FOOTER-----*/
.main-footer {
  color: #000000;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
}

.hashtag {
  font-weight: bold;
}
