@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: local("PT Sans"),
       url("/fonts/ptsans.woff") format("woff"),
       url("/fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: local("PT Sans"),
       url("/fonts/ptsansbold.woff") format("woff"),
       url("/fonts/ptsansbold.woff2") format("woff2");
}

html { box-sizing: border-box; }
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*-----COMMON-----*/
body {
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 26px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.blue-button {
  background-color: #81b3d2;
}

.brown-button {
  background-color: #766357;
}

/*-----HEADER-----*/
.main-navigation {
  color: #000000;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;

  font-weight: bold;
}

.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:focus {
  color: #81b3d2;
}

 a.site-navigation-current {
  color: #766357;
}

/*-----MAIN INDEX-----*/

/*---REASONS---*/
.intro {
  background-image: url("../img/background-photo.jpg");
}

.about {
  background-color: #ffffff;
}

.about h3 {
  color: #000000;

  font-weight: bold;
}

.about p {
  color: #000000;

  font-size: 14px;
}

.reason-item-text {
  background-color: #81b3d2;
}

.reason-item-text h3 {
  color: #ffffff;

  font-weight: bold;
  line-height: 21px;
}

.reason-item-text p {
  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
}

.reasons-list {
  background-color: #eeeeee;
}

.reasons-list h3 {
  font-weight: bold;
  line-height: 21px;
}

.reasons-list p {
  font-size: 14px;
  line-height: 21px;
}

.features-list {
  background-color: #ffffff;
}

.feature-item h3 {
  font-weight: bold;
  line-height: 21px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
}

/*---SEARCH---*/
.search {
  background-color: #ffffff;
}

.search-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
}

a.brown-button {
  color: #ffffff;
  background-color: #766357;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

a.brown-button:hover {
  color: #ffffff;
  background-color: #604e43;
}

a.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*---SEARCH FORM---*/
.search-option {
  text-align: left;

  font-size: 14px;
}

 input.search-option {
  background-color: #f2f2f2;
}

.search-button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #81b3d2;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*-----MAIN CATALOG-----*/

/*---FILTER FORM---*/
.filters {
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
}

.filters fieldset {
  border: none;
}

.filters legend {
  text-align: left;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filters ul {
  list-style: none;

  text-align: left;

  font-size: 14px;
  line-height: 21px;
}

.sort-result {
  background-color: #ffffff;
}

.filter-result {
  text-align: left;

  font-weight: bold;
}

.sort-title {
  text-align: left;

  font-size: 12px;
  line-height: 18px;
}

.reset-list a {
  text-align: left;

  color: rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
}

.reset-list a[href]:hover { /*здесь текст ещё подчёркнут пунктиром*/
  color: #81b3d2;
}

.reset-list a[href]:active {
  color: #000000;
}

 a.reset-list-current {
  color: #81b3d2;
}

/*---RESULTS---*/

.result-list {
  list-style: none;
}

.hotel-name {
  color: #000000;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px
  text-align: left;
}

.hotel-category {
  color: #333333;

  font-size: 14px;
  line-height: 21px
  text-align: left;
}

.hotel-price {
  color: #333333;

  font-size: 14px;
  line-height: 21px
  text-align: left;
}



/*-----FOOTER-----*/
.main-footer {
  color: #000000;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
}

.hashtag {
  font-weight: bold;
}
